body {
  background: linear-gradient(
    to right,
    rgba(34, 193, 195, 1),
    rgba(253, 187, 45, 1)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: "Helvetica", cursive;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0.3rem;
}

main {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 30%;
}

section {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 5px 1;
}

input,
button {
  border-radius: 5px;
}

#create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navOptions {
  margin: 0 auto;
  width: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.update {
  display: none;
}

#h2Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#h2Container h2 {
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 0.1rem;
  cursor: pointer;
}

#form {
  width: 100%;
  background-color: rgba(253, 187, 45, 0.8) ;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.create-update {
  color: gray;
}

.selectedLAbel {
  background-color: rgba(253, 187, 45, 0.8) ;
  color: black
}

#cats article {
    background: radial-gradient(
    circle,
    blue,
    darkblue
    );
  color: white;
  width: 30%;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#cats span {
  padding: 0.2rem;
 align-self: flex-start;
}

input[type='number'] {
  width: 2rem;
}